
.navbar{
    background-image: linear-gradient(to right, rgb(107, 25, 103), rgb(224, 128, 210));
    width: auto;
    height: 60px;

}
.navbar a{
    color:white;
    float: right;
    padding: 10px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    margin-right: 20px;
}
.navbar a:hover{
    color:rgb(8, 255, 255);
    float: right;
    padding: 10px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    margin-right: 20px;
    transition: 0.3s;
}
.mainbody{
    width: auto;
    height: 900px;
    background-image: linear-gradient(rgba(200, 118, 185, 0.853),rgb(82, 18, 80));
}
.header-title{
    width: auto;

    margin-left:730px;
    margin-top:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color:white;   
    
}
.Profile{
    background-color: rgba(255, 0, 0, 0.348);
    width: 400px;
    height: 400px;
    margin-left:600px;
    margin-top:30px;
    border-radius: 100%;
}
.Profile img{
    width: 400px;
    height: 400px;
    border-radius: 100%;

}
.Name{
    margin-top:30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 1px;
    margin-left: 120px;
}
.Highlighted{
    color: rgb(131, 8, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.brief-description{
    width: 1400px;
    height: 280px;
    background-color: rgba(184, 133, 188, 0.211);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 1px;
    margin-left:50px;
    border-radius: 10px;
}
.brief-description p{
    padding-right: 90px;
    padding-left:90px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.brief-description button{
    margin-left:650px;
    color: rgb(0, 0, 0);
    height: 35px;
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.751);
    border-radius: 10px;
    font-weight: lighter;
    border-style: none;
    margin-top: -10px;
}

.brief-description button:hover{
    margin-left:650px;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 1px;
    background-color: rgba(80, 62, 62, 0.751);
    border-radius: 10px;
    font-weight: lighter;
    border-style: none;
    transition: 0.3s;
}
.footer{
    width: auto;
    height: 50px;
    background-color: rgba(82, 18, 80, 0.958);
}
.about-box{
    width: 360px;
    height:500px;
    background-color: rgba(54, 54, 54, 0.4);
    margin-left:100px;
    margin-top:20px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    float:left;
}
.about-box h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: left;
    margin-left:30px;
    padding-top:20px;   
}
.about-box p{
    padding-left:30px;
    padding-right:30px;
    padding-top:30px;
}

.about-pic{
    margin-top:20px;
    width: 500px;
    height: 500px;
    background-color: white;
    float:right;
    margin-right: 200px;
    border-radius: 20px;

}
.about-pic img{
    width: 500px;
    height: 500px;
    border-radius: 20px;

}

.Contacts{
    width: 500px;
    height: 600px;
    background-color: rgba(171, 171, 163, 0.229);
    margin-left:540px;
    text-align: center;
}
.Contacts h1{
    padding-top:20px;
    color: white;
}
.Contacts h4{
    color: white;
}

.Contacts input{
    width: 300px;
    height: 40px;
    margin-top:20px;
    border-style: none;
    text-align: center;
    border-radius: 3px;
}
.Contacts button{
    margin-top: 30px;
    width: 150px;
    height: 30px;
    margin-top:30px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 10px;
}
.Contacts button:hover{
    margin-top: 30px;
    width: 150px;
    height: 30px;
    margin-top:30px;
    background-color: rgb(0, 0, 0);
    border-style: none;
    color:white;
    transition: 0.3s;
}
.Contacts h4{
    margin-top: 40px;
}
.hobbies{
    margin-left: 50px;
    font-size: 25px;
    color: white;
}
.pictures img{
    width: 300px;
    height: 300px;
    margin-left: 140px;
    border-radius: 20px;
}
.hobbies2{
    margin-left: 50px;
    font-size: 25px;
    color: white;
}
.pictures2 img{
    width: 300px;
    height: 300px;
    margin-left: 140px;
    border-radius: 20px;

}
.images img{
    width: 300px;
    height: 300px;
    margin-left: 140px;
    
    
}
.images2 img{
    width: 300px;
    height: 300px;
    margin-left: 140px;
    
}
.images2{
    margin-top: 50px;
}
.about-box h2{
    color: white;
}
.about-box p{
    color: white;
}